.graph-container {
    width: 100%;
    /* height: max(720px, 80%); */
    padding-bottom: 20px;
    overflow-x: auto;
    overflow-y: visible;
}

.day-switcher {
    text-align: center;
}
.day-switcher input {
    margin: 5px 10px;
}