.round-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.round-list > div {
    text-align: center;
    border: 1px solid cyan;
    margin: 15px;
    width: 200px;
}

.round-list > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.round-list > div > * {
    padding: 10px 13px;
}

.round-list input[type=text] {
    margin-left: auto;
    margin-right: auto;
}

.round-list .active-round {
    border-color: red;
}

/* .round-list.active > div:not(.active-round) {
    display: none;
} */

.interval-insert-box {
    border: 1px solid cyan;
}

.round-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.round-buttons {
    margin-left: 10px;
}

.interval-insert-box {
    padding: 25px 15px;
}

.interval-insert-box > div:nth-child(1) {
    margin-bottom: 40px;
}