.planner .buttons input {
    margin: 0 10px;
}

.planner .buttons {
    display: flex;
    margin-bottom: 25px;
}

.planner textarea {
    resize:vertical;
}

/* TABLE */
.planner .task-list td {
    text-align: center;
    vertical-align: middle;
    padding: 0 15px;
}

.planner .task-list table, .planner .task-list table input, .task-list table textarea {
    width: 100%;
}

.planner .task-list th {
    padding: 0 15px;
}

.planner .task-list {
    margin: 25px 15px;
}