.weather-chart {
    width: 1200px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.weather-chart-container {
    width: 100%;
    height: 720px;
    overflow-x: scroll;
    overflow-y: visible;
}

.weather-chart-container-container {
    text-align: center;
}

.weather-chart-container-container > input {
    margin-bottom: 20px;
}

.weather-chart-container-container .chart-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    align-items: flex-start;
}

.weather-chart-container-container > h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather-chart-container-container > h2 > input {
    margin: 0 10px;
}

.weather-graph-tooltip {
    background: #FFFFFF;
    color: #000000;
    font-size: 14pt;
    padding: 5px;
    text-align: left;
}

.weather-page .settings-box input[type=textbox] {
    margin: 5px 0;
}

.weather-input-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weather-input-buttons > input {
    margin: 10px 10px;
}