.modal-parent:not(.opened) {
    display: none;
}

.modal-parent.opened {
    position: fixed;
    z-index: 50;
}

.modal-background {
    z-index: 51;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30,30,30,0.9);
}

.modal-content {
    z-index: 52;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    max-width: 80%;
    overflow-y: scroll;
}

.modal-content.style-one {
    background: #555555;
    padding: 25px;
    box-shadow: 0 0 6px 0 white;
}