@media (min-width: 1200px) {
    .page > section {
        width: max(1200px, 80%);
	    margin-left: auto;
	    margin-right: auto;
    }
}
@media (max-width: 1200px) {
    .page > section {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.page > section {
    padding: 0px 15px;
}
