@media (min-width: 1200px) {
    .page > section {
	margin-left: 20%;
	margin-right: 20%;
    }
}
@media (max-width: 1200px) {
    .page > section {
        margin-left: 2%;
        margin-right: 2%;
    }
}

.page > section {
    padding: 0px 15px;
}
